<div class="home-container" style="text-align: center; padding: 40px 20px;">

    <h1 style="font-size: 2.5rem; color: #000000; font-weight: bold; margin-bottom: 70px;">
        Bienvenido a tu App de Finanzas
    </h1>

    <p style="max-width: 700px; margin: 0 auto; margin-bottom: 70px; color: #333;">
        Gestiona tus finanzas personales de manera sencilla e intuitiva. Registra tus ingresos y gastos,
        establece metas y mantén un control total sobre tu dinero.
    </p>

    <div style="display: flex; justify-content: center; gap: 200px; margin-bottom: 70px;">
        
        <!-- Imagen izquierda -->
        <img src="img/1761612945.png" alt="Gráfico 1" style="width: 17vw; border-radius: 20px;">

        <!-- Imagen derecha -->
        <img src="img/1761613186.png" alt="Gráfico 2" style="width: 17vw; border-radius: 20px;">
    </div>

    <div style="display: flex; justify-content: center; gap: 40px;">

        <a href="/login" 
           style="background-color: #079C10; color: #fff; padding: 12px 35px; 
                  border-radius: 10px; text-decoration: none; font-weight: bold; font-size: 1.1rem;">
            Iniciar Sesion
        </a>

        <a href="/register" 
           style="border: 2px solid #079C10; color: #000000; padding: 12px 35px;
                  border-radius: 10px; text-decoration: none; font-weight: bold; font-size: 1.1rem;">
            Registrarse
        </a>

    </div>

</div>
