<nav style="
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 20px;
    background-color: #ffffff;
    
">
    <!-- LOGO -->
<div style="display: flex; align-items: center; gap: 10px;">
    <a href="/" style="display: flex; align-items: center; gap: 10px; text-decoration: none; color: inherit;"> <!-- Enlace a la ruta home -->
        <img src="/img/logo.png" alt="logo" style="width: 35px; height: 35px; border-radius: 8px;">
        <span style="font-size: 18px; font-weight: 600; color: #000000;">
            finanzas app
        </span>
    </a>
</div>

    <!-- LINKS DERECHA -->
    <div style="display: flex; align-items: center; gap: 25px;">
        <a href="/login" style="text-decoration: none; color: #333; font-weight: 600;">
            Iniciar sesión
        </a>
        <a href="/register" style="text-decoration: none; color: #333; font-weight: 600;">
            Registrarse
        </a>
    </div>
</nav>